<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>菜单权限管理</title>
    <script src="../js/jquery/jquery-3.6.0.js"></script>
    <script src="../js/bootstrap/bootstrap.js"></script>
    <script src="../js/bootstrap/bootstrap-min.js"></script>
    <script src="../js/bootstrap/bootstrap-table/bootstrap-table.js"></script>
    <script src="../js/bootstrap/bootstrap-table/bootstrap-table-zh-CN.js"></script>
    <script src="../js/system/users-table.js"></script>
    <link href="../css/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="../css/bootstrap/bootstrap-table/bootstrap-table.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>
<body>
<div class="col-*-12" style="padding-right: 5vh">
    <h2 class="text-center"><strong>权限管理</strong></h2>
    <div id="toolbar">
        <div class="btn btn-primary" data-toggle="modal" data-target="#addModal">添加权限</div>
    </div>

    <table id="mytab" class="table table-hover"></table>

    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">添加权限</h4>
                </div>
                <div class="modal-body">
                    <form role="form" action="javascript:void(0)">
                        <div class="form-group">
                            <label><input type="text" class="form-control" id="name" placeholder="请输入名称"></label>
                        </div>
                        <div class="form-group">
                            <label><input type="text" class="form-control" id="age" placeholder="请输入年龄"></label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="addRecord">提交</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>