<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>顶部导航</title>
  <link href="../css/system/navigation.css" rel="stylesheet">

</head>
<body>
<!-- partial:index.partial.html -->
<nav role="custom-dropdown">
    <input type="checkbox" id="button">
    <ul>
        <li><a href="#">Stream</a></li>
        <li><a href="#">Lab</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>
</body>
</html>
